.filters {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 50px;
	gap: 10px;

	li {
		color: #fff;
		padding: 10px 25px;
		background: #191919;
		transition: 0.3s;
		text-transform: uppercase;
		cursor: pointer;

		&:hover,
		&.active {
			background: var(--primary);
		}
	}


}