.trend-card {
	position: relative;

	a {
		position: relative;
		text-decoration: none;
		background: var(--primary);
		font-size: 1rem;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;
		width: 100%;
		padding: 10px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
		transition: 0.3s;

		&:hover {
			background: #191919;
		}
	}
}